{% extends 'user/shared/base.html' %}

{% block content %}
    <h1 class="text-center">Customer Order</h1>
    <div class="container">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Date</th>
            </tr>
            
            {% for p in data %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.product }}</td>
                <td>{{ p.purchase_date }}</td>
            </tr>
            {% endfor %}
                
        </table>
    </div>
{% endblock content %}
    