{% load static %}
<div class="header-video" style="width: 1161px; height: 580.5px;">
    <div id="hero_video">
        <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-lg-6">
                        <div class="slide-text white">
                            <h3>Armor Air<br>Max 720 Sage Low</h3>
                            <p>Limited items available at this price</p>
                            <a class="btn_1" href="#0" role="button">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'img/video_fix.png' %}" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960" style="display: none;">
<video autoplay="true" loop="loop" muted="" id="teaser-video" class="teaser-video"><source src="{% static 'video/intro.mp4' %}" type="video/mp4"><source src="video/intro.ogv" type="video/ogg"></video></div>
    <div class="feat">
        <div class="container">
            <ul>
                <li>
                    <div class="box">
                        <i class="ti-gift"></i>
                        <div class="justify-content-center">
                            <h3>Free Shipping</h3>
                            <p>For all oders over $99</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-wallet"></i>
                        <div class="justify-content-center">
                            <h3>Secure Payment</h3>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-headphone-alt"></i>
                        <div class="justify-content-center">
                            <h3>24/7 Support</h3>
                            <p>Online top support</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>