{% extends 'user/shared/base.html' %}
{% load static %}
{% block content %}
{% include 'user/partials/hero_section.html' %}
<div class="container margin_60_35">
    <div class="main_title mb-4">
        <h2>New Arrival</h2>
        <span>Products</span>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div class="isotope_filter">
        <ul>
            <li><a href="#0" id="all" data-filter="*">All</a></li>
            <li><a href="#0" id="popular" data-filter=".popular">Popular</a></li>
            <li><a href="#0" id="sale" data-filter=".sale">Sale</a></li>
        </ul>
    </div>
    <div class="isotope-wrapper" style="position: relative; height: 1251.98px;">
        <div class="row small-gutters">
            <div class="col-6 col-md-4 col-xl-3 isotope-item sale" style="position: absolute; left: 0px; top: 0px;">
                <div class="grid_item">
                    <figure>
                        <span class="ribbon off">-30%</span>
                        <a href="product-detail-1.html">
                            <img class="img-fluid lazy loaded" src="img/products/shoes/1.jpg" data-src="img/products/shoes/1.jpg" alt="" data-was-processed="true">
                            <img class="img-fluid lazy loaded" src="img/products/shoes/1_b.jpg" data-src="img/products/shoes/1_b.jpg" alt="" data-was-processed="true">
                        </a>
                        <div data-countdown="2019/05/15" class="countdown">00D 00:00:00</div>
                    </figure>
                    <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                    <a href="product-detail-1.html">
                        <h3>Armor Air x Fear</h3>
                    </a>
                    <div class="price_box">
                        <span class="new_price">$48.00</span>
                        <span class="old_price">$60.00</span>
                    </div>
                    <ul>
                        <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
                        <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li>
                        <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
                    </ul>
                </div>
                <!-- /grid_item -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /isotope-wrapper -->
</div>
{% endblock content %}
    